* {
    box-sizing: border-box;
}

:root {
    --primary: #050540;
    --primary-hover: #0c0c58;
    --primary-2: #1E2A4D;
    --drip: #0D9737;
    --top-height: 66px;
    --side-width: 270px;
}

body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--primary-2);
}


.for-btn {
    width: max-content;
    padding: 6px 15px;
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 8px 12px rgba(3, 127, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.for-btn:hover {
    transition: all 0.2s ease-in-out;
    background-color: var(--primary-hover);
}

.input-text {
    width: 100%;
    padding: 6px 15px;
    border: 1px solid lab(85.1236% -.612259 -3.7138);
    border-radius: 4px;
    background-color: #e2e2e2;
    font-size: 14px;
    outline: none;
}

.input-text:focus {
    border: 1px solid var(--primary);
}


.top-header {
    background-color: black;
    width: 100%;
    height: var(--top-height);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}

.main {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: var(--top-height);
    /* position: relative; */
}

.side-list {
    width: var(--side-width);
    min-width: var(--side-width);
    background-color: var(--primary);
    position: fixed;
    top: var(--top-height);
    left: 0px;
    height: calc(100vh - var(--top-height));
    overflow-y: auto;
}

.body-content {
    width: 100%;
    margin-left: var(--side-width);
}

.content-list {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    color: white;
    padding: 8px 15px;
    border-bottom: 1px solid var(--primary-2);
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 20px;
    gap: 15px;
}

.banner-container .banner {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    position: relative;
}

.banner-container>.banner>img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
}

.feature-container {
    /* background-color: white; */
    height: max-content;
    border-radius: 10px;
    padding: 10px;
}

.m-outcome {
    background-color: var(--drip);
    border: 0px;
    color: #fff;
    cursor: pointer;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 12px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    min-width: 1%;
    position: relative;
    text-align: center;
}

.mmm {
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
}

.mml {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.mmr {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.ft-nav-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #EAECEF;
    margin-top: 30px;
}

.ft-nav {
    padding: 10px 15px;
    flex: 1;
    font-size: 14px;
    text-wrap: nowrap;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.ft-nav:hover {
    border-bottom: 2px solid var(--drip);
}

.ft-nav.active {
    border-bottom: 2px solid var(--drip) !important;
}

.ft-slip-container {
    display: flex;
    width: 100%;
    /* margin-top: 30px; */
}

.ft-slip-container > div {
    flex: 1;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 2px solid transparent;
}

.ft-slip-container > div.active {
    border-bottom: 2px solid  var(--drip);
}

.ft-slip-container > div:hover {

    border-bottom: 2px solid var(--drip);
}

.model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #141414d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 500;
    /* backdrop-filter: blur(30px); */
}

.counter {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--primary);
    border: 1px solid white;
    /* border-bottom: 5px solid var(--primary); */
    /* backdrop-filter: blur(30px); */
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    /* color: white; */
}

.input-notify {
    width: 400px;
    height: 60px;
    background-color: white;
    border: 1px solid var(--primary);
    border-radius: 6px;
    padding: 10px 20px;
}

.btn-send-notify {
    height: 60px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 6px;
    color: white;
    border: 1px solid white;
}

.tx-shadow {
    text-shadow: 1px 1px white, -1px -1px white;
}

.tx-shadow-2 {
    text-shadow: 1px 1px var(--primary), -1px -1px var(--primary);
}